<!DOCTYPE html>
<html lang="en">
<th:block th:insert="~{fragments/head}"></th:block>
<body>
<th:block th:insert="~{fragments/header-nav}"></th:block>
<main>
    <th:block th:if="${@loggedUser.getId() != null}">
        <h1>Admin panel</h1>

        <div class="admin-panel-container">
            <table class="admin-panel-users">
                <tr class="fields">
                    <th id="header-nickname">Username</th>
                    <th id="header-email">Email</th></th>
                    <th id="header-role">Role</th>
                </tr>
                <tr class="fill-space"></tr>
            </table>

            <th:block th:if="${lowerLevelUsers != null}">
                <th:block class="user-data" th:each="user: ${lowerLevelUsers}">
                    <th:block th:if="${userToEdit != null && userToEdit.id == user.id}">
                        <th:block th:insert="~{fragments/admin-user-form-edit}"></th:block>
                    </th:block>

                    <th:block th:unless="${userToEdit != null && userToEdit.id == user.id}">
                        <th:block th:insert="~{fragments/admin-user-form}"></th:block>
                    </th:block>
                </th:block>
            </th:block>

            <th th:unless="${lowerLevelUsers != null}">
                <p>No users available for administration.</p>
            </th>
        </div>
    </th:block>

    <th:block th:unless="${@loggedUser.getId() != null}">
        <th:block th:insert="~{error}"></th:block>
    </th:block>
</main>
<th:block th:insert="~{fragments/footer}"></th:block>
</body>
</html>