#catalog-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 2rem;
    scrollbar-color: var(--color-skyblue-light-transparent-04) var(--color-white-light-transparent);
    scrollbar-width: thin;
}

#catalog-container::-webkit-scrollbar {
    width: 1rem;
}

#catalog-container::-webkit-scrollbar-thumb {
    background: var(--color-skyblue-light);
    border-radius: 0.4rem;
    opacity: 4%;
}

#catalog-container::-webkit-scrollbar-thumb:hover {
    background: var(--color-skyblue);
}