html,
html * {
position: relative;
}

html:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-image: url('../img/light_theme_bck.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

header,
main,
footer {
    padding: 0 1rem;
    margin: 0 10vw;
}

main {
    height: 85.5vh;
}

main h1 {
    margin: 0 0 2rem;
    padding: 0.4rem;
    border-radius: 0.6rem;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.4rem;
    color: var(--color-gray-dark);
    background-color: var(--color-skyblue-light-transparent-04);
}

main #list-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

footer {
    text-align: center;
}