@import url("reset.css");
@import url("typography.css");
@import url("responsive.css");
@import url("game.css");
@import url("nav.css");
@import url("main.css");
@import url("register.css");
@import url("login.css");
@import url("catalog.css");
@import url("admin-panel.css");
@import url("buttons.css");
@import url("error.css");

:root {
    --color-skyblue-light: #e5f3fa;
    --color-skyblue-light-transparent-04: rgba(229, 243, 250, 0.4);
    --color-skyblue-light-transparent-02: rgba(229, 243, 250, 0.2);
    --color-skyblue-light-transparent-01: rgba(229, 243, 250, 0.1);
    --color-skyblue: #b9d6fd;
    --color-skyblue-transparent-04: rgba(185, 214, 253, 0.4);
    --color-skyblue-dark: #6ea5ff;
    --color-white-light-transparent: rgba(255, 255, 255, 0.1);
    --color-gray-light: #b9b9b9;
    --color-gray: #797979;
    --color-gray-dark: #262626;
    --color-orange-star: #e0a932;

    --shadow-base: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-around: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);

    --gradient-blue: linear-gradient(to right,
    #e5f3fa, #daeefa, #d1e9fb, #c8e4fb,
    #c1defc, #c1defc, #c1defc, #c1defc,
    #c8e4fb, #d1e9fb, #daeefa, #e5f3fa);
}