@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://use.fontawesome.com/releases/v6.0.0/css/all.css');

html {
  font-family: Kanit, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

* {
  color: black;
}

h1, 
h2,
h3,
h4,
h5,
h6 {
  font-family: Kanit, Helvetica, sans-serif;
}

h1 {
  font-size: 1.4rem;
}
h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.6rem;
}

h6 {
  font-size: 0.4rem;
}
